/*
.Leftwrp.ShareActive{
        position:relative;
}
.Leftwrp.ShareActive::before {
    background: purple;
    content: "";
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    bottom:0px;
    left:0px;
    z-index:111;
    animation: Pulse 2s linear 2.3s infinite;
}

@keyframes Pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


*/