.BulidMemshala {
  background-color: #fff;
  height: 100%;
  width:90%;
  height: 450px;
  // max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  & .manImg{
    height:146px;
  }
  & .plan {
    margin: 5px auto;
    background: #222;
    max-width: 350px;
    height: 187px;
    & span {
      /*Hide Name Title In the choosing Rolls*/
      display: none;
    }
  }
}
.Btns {
  display: inline-block;
  width: 90%;
  font-weight: bold;
  font-size: 21px;
  background-color: rgba(234,233,228,1);
  margin: 5px 0;
  order: 2;
  & .SarTitle{
    color:#0298ca;
    font-size: 36px;
    color: #222;
    font-weight: 900;
    // margin-top: 5px;
    display: inline-block;
  }
  & .Prev {
    float: right;
    cursor: pointer;
    margin-right:10px;
  }
  & .next {
    float: left;
    cursor: pointer;
    margin-left:10px;
  }
}
.next,.Prev,.Continue {
  margin-right: 15px;
  font-size: 49px;
  font-weight: 300;
}
// .AroowBack {
//   position: absolute;
//   z-index: 0;
//   left: -16px;
//   top: 0px;
//   background: #fff;
//   width: 25px;
//   height: 25px;
//   border: 2px solid gray;
//   border-radius: 50%;
// }
.faq {
  max-width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  position: relative;
  margin-bottom: 10px;
  padding-top:42px;
}

.faq label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(150,160,160,1);
  border-top-right-radius:10px;
  color:#fff;
  font-size:1.6rem;
  font-weight:900;
  line-height: 1.6;
}

.faq label::before {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 19px;
  transform: translate(0, -50%);
  border-top: 10px solid transparent;
  border-left: 15px solid #222;
  border-bottom: 10px solid transparent;
  content: "";
  transition: transform 0.5s linear;
}
.ManSelectedJob{width: 200px;
  height: 200px;
  display: block;
  background-size: 100% 100%;
  margin: 0 auto;
  transform: scale(1.4);
}
.faq > p {
  height: 0;
  transform: scaleY(0);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  line-height: 1.4;
  margin: 0 auto;
  color:#fff;
  font-size:1.2rem;
  transition: padding 0.3s ease-in, height 0.3s ease-in, transform 0.2s;
}

.faq > input {
  display: none;
}
// .JustTxt{background-image: url('../Images/ליכוד/ביבי_נתניהו.png');}

$shai: ".faq > input[type=" checkbox "]:checked + label + p";
#{$shai},
#{$shai} + p,
#{$shai} + p + p,
#{$shai} + p + p + p,
#{$shai} + p + p + p + p,
#{$shai} + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p + p + p, 
#{$shai} + p + p + p + p + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p + p + p + p + p + p,
#{$shai} + p + p + p + p + p + p + p + p + p + p + p + p
#{$shai} + p + p + p + p + p + p + p + p + p + p + p + p +p,{
  height: auto;
  padding: 8px 0px;
  margin: 13px 0px;
  width:100%;
  transform: scaleY(1);
  // background: #61dafb;
  // border-top-right-radius: 25px;
}
.moama{
  background: #008fcb;
  cursor: pointer;
}
.moama.active{
  background-color: rgba(234,233,228,1);
  color: #222;
}
.faq > input[type="checkbox"]:checked + label::before {
  transform:rotate(90deg) translateX(-10px) translateY(3px);
}
input[type="checkbox"]:checked + label{
  // background:#efefef;
}
.faq.active {
  width: 31%;
  right:21%;
  background: transparent;
  border: 0;
  margin-bottom: 20px;
transition:1s;
}
.faq.active label {
  background: gray;
border-top-right-radius:25px;
}

.wrapperMinister{ position: relative;}
.wrapperMinister input[type="checkbox"]{
    display: none;
}
.wrapperMinister label{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
.wrapperMinister input[type="checkbox"]:checked + label + p{
      background:lightcoral;
}

.TopLeftSide {
  order: 1;
  height: 250px;
}

.RolsWrapper {
  order: 3;
  width: 100%;
}
.BottomTxt{display: none;
}
.CurrentManName {
  margin-top: 45px;
  font-size: 2rem;
  font-weight: 900;
}

.CurrentManParty {
  font-weight: bold;
  color: #008fcb;
  font-size: 1.4rem;
}
.FaqWrapper {
  overflow-y: scroll;
  height: 250px;
  margin-top:15px;
}
@media screen and (max-width:890px){
  .faq {
    margin-left: 5%;
    max-width: 90%;
  }
  .HeaderTitle span {
    font-size: 1.7rem;
}

.ManSelectedJob {
    transform: scale(1.1);
}

.CurrentManName {
    font-size: 1.6rem;
    margin-top: 20px;
}

.JustTxt {
    font-size: 1.3rem;
    margin-top: 11px;
}

.TopLeftSide {
    margin: 20px 0;
    line-height: 0.9;
}

.CurrentManParty {
    font-size: 1.2rem;
}

.BulidMemshala {
    height: 100%;
}

.Btns .SarTitle {
    font-size: 2rem;
    // margin-top: 10px;
}

.next, .Prev ,.Continue{
    font-size: 21px;
    font-weight: 900;
    margin-top: 7px;
}
}
