.Leader .MiflagaList, .Leader .SelectedLeader,.Leader .IsCoalition , .Leader .Buttons, .Leader .Restart,.Leader .Explain{
    display: none;
  }
  .Leader .GovermentList{margin-top: 0px;height: unset;overflow: unset;}
  .Leader .PageWrapper {
    height:335px;
  }
  .ChooseLeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 15px;
  }
  .Leader {
    width:90%;
    margin-bottom: 10px;
    &.RoshMemshalaWrp{
      margin-bottom: 10px;
    }
    & .cont-3{
      bottom:-3rem;
    }
  }
  // .Leader .Sharer{display: none;}
  .Leader .RandomTxt{display: block;margin: 20px;font-weight:600;direction: rtl;font-size: 18px;}
  .red{color: red;}
  .Man {
    width: 143px;
    height: 143px;
    display: inline-block;
    margin: 15px 15px 0px 4px;
    // background-image: url(http://newmedia.calcalist.co.il/coalition/images/booji-BIG.png);
    // background-image: url('../../Images/Bibi.png');
    background-size: 100% 100%;
    background-position: 5px 0px;
    cursor: pointer;
    border-radius: 50%;
    /* background-color: #379ebf; */
    background-repeat: no-repeat;
    line-height: 19rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale(0.8);
}
  .LeaderWrapSeat{
    // background: #dedede;
    text-align: right;
  }
  .NextBtn {
    text-align: right;
    width:95%;
    background: #dedede;
    font-weight: bold;
    padding-right: 5.5%;
    cursor: pointer;
    font-size:2rem;
    display: flex;
    justify-content: flex-end;
    & span{
      display: block;
    }
    & .Arrow{
      font-size: 2rem;
    height: 1.9rem;
    margin-right:0.4rem;
    }
}
.Leader .MiniWrapper{
  width: 100%;
}