/*From label*/
.GovermentList{
  width:90%;
  margin-top: 14px;
  height: 510px;
  overflow-y: scroll;
.Miflaga {
    width: 26%;
    width:31%;
    height: 62px;
    background-color: #b1b0b0;
    margin: 5px 25px;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    position: relative;
    border: 1px solid lightgray;
    display: inline-block;
    transition: background-color .2s linear;
    display: inline-flex;
    justify-content: center;
    // align-items: center;
    padding-top: 18px;
    line-height:0.85;
    color: #fff;
    cursor: pointer;
    & .MiflagaName{
      font-size: 20px;
      width: 66px;
    }
  }
  .Miflaga label {
    position: absolute;
    top: 18px;
    line-height: normal;
    left: 0;
    right: 0;
    height: 78px;
    cursor: pointer;
    user-select: none;
    text-align: right;
    margin-right: 20px;
  }
  .AroowBack {
    position: absolute;
    z-index: 0;
    left: -21px;
    top: 12px;
    background: #fff;
    line-height: 26px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    padding-top: 2px;
    padding-right: 2px;
  }
  /*Put the Data inside the html ::after only CSS*/
  .AroowBack:after {
    content: attr(data-mandat) "";
    text-align: center;
    color:#40a9f3;
  }
  .Miflaga > input {
    display: none;
  }
  &.Explain {
    font-size: 34px;
    font-weight: 900;
}
}
