.Calc{
    background: #C82027;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 54px;
}
.HeadrImg {
    background-image: url(https://www.calcalist.co.il/images/1280/header/h_logo.png);
    // background-image: url('../Images/h_logo.png');
    height: 54px;
    background-repeat: no-repeat;
    background-size: 83%;
    margin: 3px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 196px;
}