@font-face {
    font-family: 'Shual';
    src: url('Shual-Bold.woff2') format('woff2'),
        url('Shual-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shual';
    src: url('Shual-Regular.woff2') format('woff2'),
        url('Shual-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shual';
    src: url('Shual-Light.woff2') format('woff2'),
        url('Shual-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

