/* Some CSS Setup - nothing to do with flexbox */
html {
    box-sizing: border-box;
  }
  .MemshalaFinalh1{
    color:white;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  a {
    color: white;
  }
  .plan {
    margin: 15px 0px;
    max-width: 145px;
    height: auto;
    line-height: 0px;
    // border: 2px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
    flex-direction: column;
}
.Title {
  font-size: 1.3rem;
  color: #008fcb;
  font-weight: bold;
}  
.Name{
  font-size: 1rem;
}
.Miflaga{
  font-size: 0.8rem;
  font-weight: 100;
}
  .plan a {
    text-decoration: none;
    background: #feff00;
    padding: 10px;
    color: black;
    border-radius: 4px;
  }
  
  .price {
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
  }
  
  .Memshala-grid {
    width:90%;
    margin:0 auto;
    border:10px solid #efefef;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    height: 895px;
    background: #222;
    color: #fff;
    position: relative;
    & .LeftSide {
      width: 33%;
    }
    & .MiddleSide {
      width: 33%;
    }
    & .RightSide {
      width: 33%;
    }
  }
  .MiddleSide {
    & .plan {
      bottom: 30px;
    }
    &.manImg {
      background-size: 100%;
    }
  }
  .manImg {
    background-image:url('../../Images/aa.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    align-self: center;
    margin:5px;
    &.Gantz{
      background-image: url(/static/media/Ganz.7e6f68de.png) !important;
    }
    &.Bibi{
      background-image: url(/static/media/Bibi.b07b5cbc.png);
    }
}
.RoshMem .Name{margin-top: 12px;transform: scale(1.3);}
.RoshMem .Miflaga{margin-top: 15px;}
.plan span {
  margin-top: 21px;
  text-align: center;
  align-self: center;
}
  
  /*Middile*/
  .MemshalDetails {
    border: 1px solid #fff;
    max-width: 120px;
    text-align: center;
    margin: 10px auto;
    height: 255px;
    & span {
      font-size: 20px;
    }
  }
  .Share {
    width: 70px;
    margin-top: 50px;
    display: inline-block;
  }
  .Share span {
    background-image: url("https://www.calcalist.co.il/images/1280/share/small-share-icons.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
  }
  .RoshMemshala {
    position: absolute;
    z-index: 1;
    top: 0px;
    transform: scale(1.2);
}
.FinalGameMemshala{
  width: 90%;
    color: #fff;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.FinalGameMemshala .RoshMemshala{transform: scale(1.2);}
.FinalMemshalaWrp {
width: 90%;
align-items: center;
display: flex;
flex-direction: column;
margin: 20px 0px;
}
.CardFront {
  width: 100%;
color: #fff;
background: #222;
position: relative;
align-items: center;
display: flex;
flex-direction: column;
// margin: 20px 0px;
}

//Flip Card Bitch
.card .back {
  background: #222;
  color: #FFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  font-size: 1.5rem;
  direction: rtl;
  top: 180px;
  line-height: 1;
  }
  .MobileBack{display: block;direction: rtl;font-size: 1.5rem;color: #222;}
label:hover .card {
  // transform: rotateY(10deg);
  box-shadow: 30 0px 0px rgba(250,50,50,.2);
  // border: 10px solid #efefef;
}
input {
  display: none;
}
// :checked + .card {
//   transform: rotateY(180deg);
// }
// :checked + .card .RoshMemshala{
//   transform: rotateY(180deg) scale(1);
// }
label:hover :checked + .card {
  // transform: rotateY(160deg);
  // box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
.FinalGameMemshala {
  width: 90%;
  transform-style: preserve-3d;
  transition: all 600ms;
  .plan span{
    margin-top: 5px;
    line-height: 0.65;
  }
  & .red{
    font-size: 4.4rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }
  // & .RoshMem{transform: scale(1.2);}
}
.CardWrapper {
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 100%;
  // height: 500px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.card {
  width: 90%;
  color: #fff;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  transform-style: preserve-3d;
  transition: all 600ms;
  background: #222;
  border: 10px solid #efefef;
}
.card div {
  // backface-visibility: hidden;
}

@media screen and (max-width:890px){
  .card .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    display: none;
    }
  :checked + .card {
    transform: rotateY(0);
  }
  .MobileBack{display: block;}
  .card div{backface-visibility: visible;}
  :checked + .card .RoshMemshala{
    transform: rotateY(0deg) scale(1.2);
  }
}