.PageWrapper { position: relative; background-color:#221;width:90%; margin: 0 auto;height:406px; }
.Wrapper {
    //  height: 275px;
    // margin:0 24%;
    // // margin: 0 auto;
    // // min-width: 300px;max-width:400px;
    // width: 360px;
}

.container { position: relative; }

.seat {
    background: gray;
    // width: 0.8rem;
    // height: 0.8rem;
    // margin-bottom: 2px;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    margin-bottom: 5px;
}
.col-1{
& .seat:nth-child(1) {
}

& .seat:nth-child(2) {
    right: 5px;
}

& .seat:nth-child(3) {
    right: 10px;
}

& .seat:nth-child(4) {
    right: 12px;
}

& .seat:nth-child(5) {
    right: 13px;
}

& .seat:nth-child(6) {
    right: 14px;
}

& .seat:nth-child(7) {
    right: 15px;
}

& .seat:nth-child(8) {
    right: 14px;
}

& .seat:nth-child(9) {
    right: 13px;
}

& .seat:nth-child(10) {
    right: 12px;
}

& .seat:nth-child(11) {
    right: 10px;
}

& .seat:nth-child(12) {
    right: 5px;
}
}
.col-2 {
top: 1rem;
left: 1.5rem;
position: absolute;
    
    & .seat:nth-child(1) {
        right: 5px;
    }

    & .seat:nth-child(2) {
        right: 10px;
    }

    & .seat:nth-child(3) {
        right: 12px;
    }

    & .seat:nth-child(4) {
        right: 13px;
    }

    & .seat:nth-child(5) {
        right: 14px;
    }

    & .seat:nth-child(6) {
        right: 15px;
    }

    & .seat:nth-child(7) {
        right: 14px;
    }

    & .seat:nth-child(8) {
        right: 13px;
    }

    & .seat:nth-child(9) {
        right: 12px;
    }

    & .seat:nth-child(10) {
        right: 10px;
    }

    & .seat:nth-child(11) {
        right: 5px;
    }
}

.col-3 {
top: 2rem;
left: 3rem;
position: absolute;
& .seat:nth-child(1) {
    right: 10px;
}

& .seat:nth-child(2) {
    right: 12px;
}

& .seat:nth-child(3) {
    right: 13px;
}

& .seat:nth-child(4) {
    right: 14px;
}

& .seat:nth-child(5) {
    right: 15px;
}

& .seat:nth-child(6) {
    right: 14px;
}

& .seat:nth-child(7) {
    right: 13px;
}

& .seat:nth-child(8) {
    right: 12px;
}

& .seat:nth-child(9) {
    right: 10px;
}

& .seat:nth-child(11) {
    right: 5px;
}
}
.col-4 {
top: 3rem;
left: 4.5rem;
position: absolute;

& .seat:nth-child(1) {
    right: 12px;
}

& .seat:nth-child(2) {
    right: 13px;
}

& .seat:nth-child(3) {
    right: 14px;
}

& .seat:nth-child(4) {
    right: 15px;
}

& .seat:nth-child(5) {
    right: 14px;
}

& .seat:nth-child(6) {
    right: 13px;
}

& .seat:nth-child(7) {
    right: 12px;
}

& .seat:nth-child(8) {
    right: 10px;
}

& .seat:nth-child(9) {
    right: 5px;
}
}
.cont-1 {
    position: absolute;
    left: 7%;
    top: 20%;
}

.cont-2 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    right: 7%;
    top: 20%;
}

.cont-3 {
    -webkit-transform: rotate(269deg);
    transform: rotate(269deg);
    position: absolute;
    bottom: 0rem;
    left: 48%;
}


// .MiflagaList{background: #efefef;}

.Mif{width:60px;height:50px;background:lightblue;display:inline-block;margin:5px}

.applayBackgroundAnimation {
    background-color: rgb(32, 165, 221);
    animation: blinker 0.5s linear normal;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.IsCoalition {
    align-items: center;
    margin-top: 10px;
    border-radius: 50%;
    background-image: radial-gradient(#19ff80, #098842);
    color: #fff;
    overflow: hidden;
    line-height: 22px;
    font-size: 23px;
    font-weight: 700;
    border: 3px solid #098842;
    border-bottom: 6px solid #098842;
    position: relative;
    left: -5%; top: 80%;
    font-size: 19px;
    width: 4.625rem;
    height: 4.625rem;
}
.IscoaNumWrp {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.SelectedLeader {
    width: 4.625rem;
    height: 4.625rem;
    border-radius: 50%;
    position: relative;
    left: 82%;
    top: 61%;
    background-repeat: no-repeat;
    background-size: 100% 100%
}
.CoalitionActive{
  background-color:lightgreen;
  line-height: 0.9;
  padding-top: 5px;
  animation: CoalitionActive 1.5s cubic-bezier(0, 0, 0.13, 1.27) normal;
}
.Seats{display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 15px;
    text-align: center;
    width:95%;
}
.MiniWrapper{width: 90%;background: #e8e8e8;padding-bottom: 22px;}
.Seats .Buttons {
    color: #222;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 26px;
    align-items: center;
    margin-left: 16px;
    padding-top: 18px;
}
.SeatsDetails { color: #fff;
    width: 52px;
    position: absolute;
    top: 20px;
    left: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-size: 20px;
     }
     .CaolitionText {
        font-size: 24px;
    }
    
    .CoaltionNum {
        font-size: 40px;
    }
    
    span.CoaltionNum.Op {
        color: gray;
    }
    
    .TotalMandats {
        font-size: 25px;
    }

//Sharing
.Icon{width: 50px; height: 50px; display: inline-block; background-size: 80%; background-repeat: no-repeat;}
.whatsapp {
    background-image: url('../../Images/w.png');
}
.Facebook {
    background-image: url('../../Images/f.png');
}
.Twiiter {
    background-image: url('../../Images/t.png');
}
.Restart{
    background-image: url('../../Images/StartOver.png');
    width: 97px;
    height: 41px;
    display: block;
    background-size: 80%;
    background-repeat: no-repeat;
}
.Restart.ShareActive{display:none;}
@media screen and (max-width:370px){
    .cont-2{right:9%;} 
}

.Leader .spinner {display: none;}
.Leader .PageWrapper{margin-top: 12px;}
.spinner .PageWrapper , .spinner .MiflagaList,.spinner .Buttons{display: none;}
.logo {
    height: 5rem;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spinner_ctr {
    background-color:#222;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .spinner {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid darkgray;
    border-top: 10px solid coral;
    position: absolute;
    animation: spinner-animation 1s infinite linear;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
  
  .loading {
    filter: blur(10px);
    opacity: 0.4;
  }
  
  @keyframes spinner-animation {
    to {
      transform: rotateZ(360deg);
    }
  }
  .GovermentList.ShareActive ,.Prev.ShareActive ,.Continue.ShareActive{display: none;}
  .Restart.ShareActive{margin:0 auto;}
  .ShareCoalizion{display: none;}
  .ShareCoalizion.ShareCoalizia{
    display: flex;
    justify-content: space-around;
    direction: rtl;
    // background-image: url("https://www.calcalist.co.il/images/1280/share/small-share-icons.png");
    width: 90%;
    margin: 5px 0 25px 0;
    background-repeat: no-repeat;
    line-height: 0;
    & .red {
        color: red;
        font-size: 45px;
        font-size: 4.4rem;
        font-weight: 900;
        padding: 0;
        margin: 0;
    }
    }
    .Kavod{font-size: 37px;font-weight:900;}
    .Tikim{
        width: 80%;margin-right: 16px;margin-top: 35px;
        & span{
            position: absolute;
            left:34px;
            font-size: 33px;
        }
        & .FuncioArrow{
            animation: Move2 2s ease-in-out infinite;
        }
    }
    @keyframes Move2 {
        0% {left:34px;}
        50% {left:26px;}
        100%{left:34px;}
    }      
    .Sharer{margin:10px 0px;cursor: pointer;}
    .Leftwrp {
        align-items: center;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        background-image: radial-gradient(#0298cae0, #008fcb);
        color: #fff;
        overflow: hidden;
        line-height: 27px;
        font-size: 23px;
        font-weight: bold;
        border: 3px solid #007aad;
        border-bottom: 6px solid #007aad;
        animation:Glow 2s ease-in-out infinite;
    }
    .Rightwrp {
        margin: 33px 5px 0px 5px;
        line-height: 0.3;
        font-size: 24px;
        font-weight: bold;
        & span {
            line-height: 0.8;
        }
    }
    .ShareCoalizion.ShareCoalizia{flex-direction:column;align-items: center;align-items:center;}
    .Rightwrp{border-bottom:2px solid #222;}
    .Continue{line-height: 0.2;}
  @keyframes Glow {
    0%{opacity:1;transform:scale(1);}
    50%{opacity:1;transform:scale(1.08);}
    100%{opacity:1;transform:scale(1);}
}
@keyframes CoalitionActive {
    0%{opacity:0.5;transform:scale(1.5);}
    100%{opacity:1;transform:scale(1);}
}


@media screen and (min-width:890px){
  .Seats{flex-direction:row;}
}
.Explain{font-size:18px;font-weight: 600;display: block;}
.Memoza {width: 57%;display: inline-block;direction: rtl;line-height: 1;}
.SekerText{direction: rtl;margin:20px 0;}
.SekerText .red {font-size: 33px;display: block;padding-top: 10px;height: 34px;}
.MiflagaList {margin-top: 20px;}
@media screen and (min-width: 535px) {
    .cont-1{left:16%;}
    .cont-2{right:16%;}
  }

  @supports (-ms-ime-align: auto) {
    .Leftwrp {
        background-color:#008fcb;
    }
  }