.HeaderTitle{
    width: 95%;
    font-size: 2.8rem;
    font-weight: 900;
    margin:0 0 10px 0;
}
.Header {
    width: 100%;
    // margin: 0 auto;
    background: #fff;
    font-size: 1.5rem;
    color:#222;
    font-weight: bold;
    margin-top: 5px;
    & .PageNumber{
        font-size: 1rem;
        float: right;
        margin-right: 4%;
        margin-top: 1%;
    }
}
.HeaderProgress{
    background: lightgray;
    width:95%;
    margin:0 auto;
    overflow: hidden;
}
.ProgressLine{
    height:6px;
    background-image: linear-gradient(to right,#d3d3d3,#0298cae0,rgba(0,143,203,1));
    transition: width  1s;
    float: right;
}