.MoveToNextGame{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    justify-content: center;
    align-items: center;
    // margin: 20px 0;
    & .RoshMemshala {
        position: absolute;
        top: -44px;
        transform: scale(1.3);
    }
    & .BottomJobs{
        margin-top: 25px;
    }
    & .FuncioArrow{
        animation: Move 2s ease-in-out infinite;
        transform: rotateY(180deg);
        position: relative;
        font-size: 35px;
        top: 3px;
    }
}
.MoveToNextGame .plan span {
    line-height: 0;
    margin-top: 11px;
    direction: rtl;
}
.TopJobs {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 15px;
}
.BottomJobs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-height: 465px;
    width: 95%;
}
.SarDetails.plan2 {
    visibility: collapse;
}
.SarDetails {
    margin: 0px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.TopJobs .SarDetails {
    width: 28%;
}
.BottomJobs .SarDetails {
    width: 23%;
    height:160px;
}
.manImg{
    background-image:url('../../Images/aa.png');
}
.MoveTo {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    direction: rtl;
}
.FinalMemshala{
    width: 90%;
    color: #fff;
    background: #222;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 10px solid #efefef;
    margin: 20px 0px;
    // & .TopJobs .manImg{
    //   border:none;  
    // }
    //     & .TopJobs .manImg::after{
    //       content: "";
    //     }
}
.RoshMemshala {
    position: absolute;
    // top: -55px;
    top:-45px;
    transform: scale(1.2);
}


.Title {
    font-size: 0.9rem;
    color: #008fcb;
    font-weight: bold;
}
.Name {
    font-size: 1rem;
}
.Miflaga {
    font-size: 0.8rem;
}