// @import 'fonts.scss';


// body {
//   font-family: sans-serif;
//   margin: 0;
//   background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
//   // background-color: #222;
// }
// a {
//   color: white;
// }
.App {
  text-align: center;
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background:#fff;
    font-family: 'Shual';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.next{
  animation: Move 2s ease-in-out infinite;
  position: relative;
}
@keyframes Move {
  0% {left:0px;}
  50% {left:7px;}
  100%{left:0px;}
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Leader .RandomTxt{
  font-family: 'Alef', sans-serif;
}
.RandomTxt .red{font-size: 33px;height: 7px;display: block;}
.Bibi{background-image: url('./Images/Bibi1.png');}
.Bibi:hover,.manImg.Bibi,.SelectedLeader.Bibi{background-image: url('./Images/Bibi1_1.png');}

.Gantz{background-image: url('./Images/Ganz1.png');}
.Gantz:hover,.manImg.Gantz,.SelectedLeader.Gantz{background-image: url('./Images/Ganz1_1.png') !important;}
@media screen and (min-width:890px){
	.App{max-width:1280px;}
	.Header{order:2;margin: 20px;}
	.Leader{
		display:flex;
		.Leader.Seats{flex:1;}
		.Leader.ChooseLeader{flex:1;}
	}
  .LeaderSeats{flex:1;}
  .LeaderSeats .Seats {width: 100%;margin-left:0;}
  // .MiniWrapper{margin-left: 1%;}
	.ChooseLeader{flex:1;}
	//Seats Page
  .Seats{flex-direction:row;width:95%;}
  .Seats .Buttons{margin-left: 36px;}
  .next, .Prev, .Continue{font-size: 37px;cursor: pointer;}
  //fix seats button that inside leaders
  .NextBtn{width: 100%;}
	
  .Seats{flex-direction:row;}
  .LeaderSeats .Seats{flex-direction:column;align-items: flex-start;align-items:flex-start;}
  .IsCoalition{
    left:-5%;
    width: 5.625rem;
    height: 5.625rem;
    top: 75%;
    font-size: 23px;
    line-height: 25px;
  }
  .SelectedLeader{
    width: 5.625rem;
    height: 5.625rem;
    top:52%;
  }
  .IscoaNumWrp{margin-top: 14px;}
  .SeatsDetails {left: 45%;}


  //.MoveToNextGame
  .MoveToNextGame{
    & .BottomJobs {
      margin: 35px 0 25px 0;
    }
  }
  
  //GovermentList  Compenet
  .GovermentList .Miflaga{width:34%;}
  .GovermentList .Miflaga .MiflagaName{
    width: 117px;
    float: right;
    font-size: 26.5px;
  }
  
  //Last page
  .TopJobs{
    justify-content: space-around;
  }
.BottomJobs .SarDetails,.TopJobs .SarDetails{width: 13%;}
  .BottomJobs{
    flex-direction: row;
    // flex-wrap: nowrap;
    margin:15px 0 25px 0;
  }

  //BuildMemshala Page
  .Btns {
    order: -1;
  }
  .TopLeftSide {
      display: inline-block;
      width: 45%;
      float: left;
      margin-top:5%;
      line-height: 0.95;
  }
  .RolsWrapper {
      display: inline-block;
      width: 50%;
      float: right;
      & .BottomTxt{
        display: block;
      }
  }
  .BottomTxt {
    font-size: 1.4rem;
    font-weight: 900;
    order: -1;
    margin: 25px 0 38px 0;
}
  .BulidMemshala {
      display: block;
  }
  .JustTxt {
      display: none;
  }

.RoshMem{transform: scale(1.2);}
.RoshMemshala{transform: scale(1.2);}
.manImg{width: 6rem;height: 6rem;}
.Man:hover{transform: scale(1.02);color:#008fcb;}
.Man.active {transform: scale(1.2);color:#008fcb;}
}
.RoshMemshalaWrp .Man{font-size: 25px;font-weight: 900;background-position:0px 0px;line-height:20rem;}
@media screen and (max-width: 380px) and (min-width: 330px) {
  // .seat{width: 0.6rem;height: 0.6rem;}
  // .cont-2{right: 16%;bottom: 185px;}
  // .cont-3{bottom: 405px;left:-6%;}
  // .SeatsDetails{left: 39%;}
}
.Alef{
  font-family: 'Alef', sans-serif;
}


